@model IEnumerable<Final.Models.Funcion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFuncion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pelicula.NombrePelicula)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFuncion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pelicula.NombrePelicula)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodFuncion }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodFuncion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodFuncion })
        </td>
    </tr>
}

</table>
