@model Final.Models.Interprete

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Interprete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodInterprete }) |
    @Html.ActionLink("Back to List", "Index")
</p>
