@model IEnumerable<Final.Models.Pelicula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombrePelicula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEstreno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director.NombreDirector)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombrePelicula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEstreno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director.NombreDirector)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodPelicula }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodPelicula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodPelicula })
        </td>
    </tr>
}

</table>
