@model Final.Models.Asiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionAsiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionAsiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAsiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAsiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sala.NombreSala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sala.NombreSala)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodAsiento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
