@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido a la pagina de administracion del cine</h1>
    <p class="lead">Esta es la vista del administrador</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Cines","Index","Cines")</h2>
        <h1>sadfsafsa</h1>
        <p>
            Mantenimiento de Cine
        </p>        
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Asientos", "Index", "Asientoes")</h2>
        <p>
            Mantenimiento de Asiento
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("CinePeliculas", "Index", "CinePeliculas")</h2>
        <p>
            Mantenimiento de CinePelicula
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Director", "Index", "Directors")</h2>
        <p>
            Mantenimiento de Director
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Funcion", "Index", "Funcions")</h2>
        <p>
            Mantenimiento de Funcion
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Interpretes", "Index", "Interpretes")</h2>
        <p>
            Mantenimiento de Interprete
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Peliculas", "Index", "Peliculas")</h2>
        <p>
            Mantenimiento de Pelicula
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Personas", "Index", "Personas")</h2>
        <p>
            Mantenimiento de Persona
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Protagonistas", "Index", "Protagonistas")</h2>
        <p>
            Mantenimiento de Protagonista
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Salas", "Index", "Salas")</h2>
        <p>
            Mantenimiento de Sala
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Tickets", "Index", "Tickets")</h2>
        <p>
            Mantenimiento de Ticket
        </p>
    </div>
</div>