@model Final.Models.Protagonista

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Protagonista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreProtagonista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProtagonista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsPrincipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsPrincipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interprete.Paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interprete.Paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pelicula.NombrePelicula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pelicula.NombrePelicula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
