@model IEnumerable<Final.Models.Sala>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreSala)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cine.NombreCine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreSala)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cine.NombreCine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodSala }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodSala }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodSala })
        </td>
    </tr>
}

</table>
